<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Train-Russian</h5>
        <p class="grey-text text-lighten-4">Это лучший сервис для изучения ударений. Серьёзно.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">VK</h5>
        <ul>
          <li><a target="blank" class="grey-text text-lighten-3" href="https://vk.com/rageandscream">Влад Яндринский</a></li>
          <li><a target="blank" class="grey-text text-lighten-3" href="https://vk.com/juf99">Сергей Поздеев</a></li>
          <li><a target="blank" class="grey-text text-lighten-3" href="https://vk.com/klimashevsky.ilya">Илья Климашевский</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2019 Права ничем не защищены.
    </div>
  </div>