<div class="container main-container">
	<div class="container-wrap">
		<div class="row">
			<div class="col s12">
				<ul class="tabs">
					<li class="tab col s6"><a href="#auth">Войти</a></li>
					<li class="tab col s6"><a href="#reg">Регистрация</a></li>
				</ul>
			</div>

			<form class="col s12" id="auth" method="POST" action="/auth/signin">
				<div class="row">
					<div class="input-field col s12">
						<input id="auth-email" type="email" class="validate" required="" name="login">
						<label for="auth-email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="auth-password" type="password" class="validate" required name="password">
						<label for="auth-password">Пароль</label>
					</div>
				</div>
				<button class="btn waves-effect waves-light" type="submit" name="action">Войти
					<i class="material-icons right">send</i>
				</button>
			</form>

			<form class="col s12" id="reg" method="POST" action="/auth/register">
				<div class="row">
				<div class="input-field col s6">
					<input id="first_name" type="text" class="validate" required name="firstName">
					<label for="first_name" class="active s">Имя</label>
				</div>
				<div class="input-field col s6">
					<input id="last_name" type="text" class="validate" required name="lastName">
					<label for="last_name">Фамилия</label>
				</div>
				</div>
				<div class="row">
				<div class="input-field col s12">
					<input id="reg-email" type="email" class="validate" required name="login">
					<label for="reg-email">Email</label>
				</div>
				</div>
				<div class="row">
				<div class="input-field col s12">
					<input id="reg-password" type="text" class="validate" required name="password">
					<label for="reg-password">Придумайте пароль</label>
				</div>
				</div>
				<button class="btn waves-effect waves-light" type="submit" name="action">Зарегистрироваться
				<i class="material-icons right">send</i>
				</button>
			</form>
		</div>
	</div>		
</div>

