<section class="first-section">
	<div class="container">
		<div class="row">
		    <div class="col s12">
		      <ul class="tabs tabsy">
		      	<li class="tab col s4"><a id="myWordsBTN" class="active" href="#mywords">Выучить</a></li>
		        <li class="tab col s4"><a id="allWordsBTN" href="#allwords">Все слова</a></li>
		        <li class="tab col s4"><a id="FAQBTN" href="#FAQ">FAQ</a></li>
		        
		      </ul>
		    </div>
			<div id="mywords" class="col s12 tabs-child">
				<div class="tabs_container">
						<div class="first-section__title">
							<p>Нужно выучить</p>
						</div>
						<div class="first-section__empty hidden">
							<p>Вы ещё не добавляли слова в "выучить"</p>
						</div>
						<div class="wordsPlace"></div>
				</div>
			</div>

		    <div id="allwords" class="col s12 tabs-child">
				<div class="tabs_container">
		    		<div class="first-section__title">
							<p>Все слова</p>
						</div>
		    					
		    	</div>
		    </div>
			<div id="FAQ" class="col s12 tabs-child">
				<div class="tabs_container">
		    		<div class="first-section__title">
						{{!-- <p>Часто задаваемые вопросы</p> --}}
						<p>Функционал в разработке</p>
					</div>

		    					
		    	</div>
		    </div>
		</div>
	</div>
</section>